################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
/.vs/hrms-be-backend/v17/fileList.bin
/.vs/hrms-be-backend/v17/.futdcache.v2
/.vs/hrms-be-backend/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/hrms-be-backend.metadata.v6.1
/.vs/ProjectEvaluation/hrms-be-backend.projects.v6.1
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-api.dll
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-api.exe
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-api.pdb
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-business.dll
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-business.pdb
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-common.dll
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-common.pdb
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-data.dll
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-data.pdb
/hrms-be-backend-api/obj/Debug/net7.0/ref/hrms-be-backend-api.dll
/hrms-be-backend-api/obj/Debug/net7.0/refint/hrms-be-backend-api.dll
/hrms-be-backend-api/obj/Debug/net7.0/apphost.exe
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.AssemblyInfo.cs
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.AssemblyInfoInputs.cache
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.csproj.AssemblyReference.cache
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.csproj.CoreCompileInputs.cache
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.csproj.FileListAbsolute.txt
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.dll
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.genruntimeconfig.cache
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.pdb
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.sourcelink.json
/hrms-be-backend-business/bin/Debug/net7.0/hrms-be-backend-business.dll
/hrms-be-backend-business/bin/Debug/net7.0/hrms-be-backend-business.pdb
/hrms-be-backend-business/bin/Debug/net7.0/hrms-be-backend-common.dll
/hrms-be-backend-business/bin/Debug/net7.0/hrms-be-backend-common.pdb
/hrms-be-backend-business/bin/Debug/net7.0/hrms-be-backend-data.dll
/hrms-be-backend-business/bin/Debug/net7.0/hrms-be-backend-data.pdb
/hrms-be-backend-business/obj/Debug/net7.0/ref/hrms-be-backend-business.dll
/hrms-be-backend-business/obj/Debug/net7.0/refint/hrms-be-backend-business.dll
/hrms-be-backend-business/obj/Debug/net7.0/hrms-be-backend-business.AssemblyInfo.cs
/hrms-be-backend-business/obj/Debug/net7.0/hrms-be-backend-business.AssemblyInfoInputs.cache
/hrms-be-backend-business/obj/Debug/net7.0/hrms-be-backend-business.csproj.AssemblyReference.cache
/hrms-be-backend-business/obj/Debug/net7.0/hrms-be-backend-business.csproj.CoreCompileInputs.cache
/hrms-be-backend-business/obj/Debug/net7.0/hrms-be-backend-business.csproj.FileListAbsolute.txt
/hrms-be-backend-business/obj/Debug/net7.0/hrms-be-backend-business.dll
/hrms-be-backend-business/obj/Debug/net7.0/hrms-be-backend-business.pdb
/hrms-be-backend-business/obj/Debug/net7.0/hrms-be-backend-business.sourcelink.json
/hrms-be-backend-common/bin/Debug/net7.0/hrms-be-backend-common.dll
/hrms-be-backend-common/bin/Debug/net7.0/hrms-be-backend-common.pdb
/hrms-be-backend-common/obj/Debug/net7.0/ref/hrms-be-backend-common.dll
/hrms-be-backend-common/obj/Debug/net7.0/refint/hrms-be-backend-common.dll
/hrms-be-backend-common/obj/Debug/net7.0/hrms-be-backend-common.AssemblyInfoInputs.cache
/hrms-be-backend-common/obj/Debug/net7.0/hrms-be-backend-common.AssemblyInfo.cs
/hrms-be-backend-common/obj/Debug/net7.0/hrms-be-backend-common.csproj.CoreCompileInputs.cache
/hrms-be-backend-common/obj/Debug/net7.0/hrms-be-backend-common.csproj.FileListAbsolute.txt
/hrms-be-backend-common/obj/Debug/net7.0/hrms-be-backend-common.dll
/hrms-be-backend-common/obj/Debug/net7.0/hrms-be-backend-common.pdb
/hrms-be-backend-common/obj/Debug/net7.0/hrms-be-backend-common.sourcelink.json
/hrms-be-backend-data/bin/Debug/net7.0/hrms-be-backend-common.dll
/hrms-be-backend-data/bin/Debug/net7.0/hrms-be-backend-common.pdb
/hrms-be-backend-data/bin/Debug/net7.0/hrms-be-backend-data.dll
/hrms-be-backend-data/bin/Debug/net7.0/hrms-be-backend-data.pdb
/hrms-be-backend-data/obj/Debug/net7.0/ref/hrms-be-backend-data.dll
/hrms-be-backend-data/obj/Debug/net7.0/refint/hrms-be-backend-data.dll
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.AssemblyInfo.cs
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.AssemblyInfoInputs.cache
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.csproj.AssemblyReference.cache
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.csproj.CoreCompileInputs.cache
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.csproj.FileListAbsolute.txt
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.dll
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.sourcelink.json
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.pdb
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-api.dll
/hrms-be-backend-api/obj/Debug/net7.0/ref/hrms-be-backend-api.dll
/hrms-be-backend-api/obj/Debug/net7.0/refint/hrms-be-backend-api.dll
/hrms-be-backend-api/obj/Debug/net7.0/apphost.exe
/hrms-be-backend-api/obj/hrms-be-backend-api.csproj.nuget.dgspec.json
/hrms-be-backend-api/obj/hrms-be-backend-api.csproj.nuget.g.props
/hrms-be-backend-api/obj/project.assets.json
/hrms-be-backend-api/obj/project.nuget.cache
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.assets.cache
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.GeneratedMSBuildEditorConfig.editorconfig
/hrms-be-backend-data/bin/Debug/net7.0/hrms-be-backend-data.dll
/hrms-be-backend-data/bin/Debug/net7.0/hrms-be-backend-data.pdb
/hrms-be-backend-data/obj/Debug/net7.0/ref/hrms-be-backend-data.dll
/hrms-be-backend-data/obj/Debug/net7.0/refint/hrms-be-backend-data.dll
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.csproj.AssemblyReference.cache
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.AssemblyInfo.cs
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.AssemblyInfoInputs.cache
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.dll
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.pdb
/.vs/hrms-be-backend/v17/.suo
/.vs/hrms-be-backend/v17/.suo
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-business.dll
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-business.pdb
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-data.dll
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-data.pdb
/hrms-be-backend-api/obj/Debug/net7.0/ref/hrms-be-backend-api.dll
/hrms-be-backend-api/obj/Debug/net7.0/refint/hrms-be-backend-api.dll
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.dll
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.pdb
/hrms-be-backend-business/bin/Debug/net7.0/hrms-be-backend-business.dll
/hrms-be-backend-business/bin/Debug/net7.0/hrms-be-backend-business.pdb
/hrms-be-backend-business/bin/Debug/net7.0/hrms-be-backend-data.dll
/hrms-be-backend-business/bin/Debug/net7.0/hrms-be-backend-data.pdb
/hrms-be-backend-business/obj/Debug/net7.0/hrms-be-backend-business.dll
/hrms-be-backend-business/obj/Debug/net7.0/hrms-be-backend-business.pdb
/hrms-be-backend-data/bin/Debug/net7.0/hrms-be-backend-data.dll
/hrms-be-backend-data/bin/Debug/net7.0/hrms-be-backend-data.pdb
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.dll
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.pdb
