################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hrms-be-backend-api/logs
/.vs/Com.XpressPayments.HRMSWebApi/FileContentIndex
/.vs/hrms-be-backend/DesignTimeBuild/.dtbcache.v2
/.vs/hrms-be-backend/FileContentIndex/17b47208-812e-46b8-bdfd-b527c87a5d3e.vsidx
/.vs/hrms-be-backend/FileContentIndex/1875bb7b-b73b-4a45-880b-343be3edfd9e.vsidx
/.vs/hrms-be-backend/FileContentIndex/287ad4a1-c52b-4e19-b330-8177c070af7f.vsidx
/.vs/hrms-be-backend/FileContentIndex/2e6b2594-aa85-4ec5-bf41-f720bf37f690.vsidx
/.vs/hrms-be-backend/FileContentIndex/46dbf578-af63-49c9-baf9-c53963ec6ebe.vsidx
/.vs/hrms-be-backend/FileContentIndex/593bbab4-cab5-4e31-9462-00b53ead269b.vsidx
/.vs/hrms-be-backend/FileContentIndex/5c8ccd75-e1f8-4e19-86c5-41eb21d7af65.vsidx
/.vs/hrms-be-backend/FileContentIndex/6bd020f4-3a48-434d-af47-9d59305ebacb.vsidx
/.vs/hrms-be-backend/FileContentIndex/89856ade-8429-4dc2-a055-095ab35b89c2.vsidx
/.vs/hrms-be-backend/FileContentIndex/8a560afc-788a-4484-8bd1-9d229a7c68f6.vsidx
/.vs/hrms-be-backend/FileContentIndex/8ca1fc83-0e38-4845-a7d2-dfa74d4bbbb1.vsidx
/.vs/hrms-be-backend/FileContentIndex/b73c3648-604a-4947-8f57-b97ac37db213.vsidx
/.vs/hrms-be-backend/FileContentIndex/bbf44092-9f4c-4462-82c1-07399b1aa217.vsidx
/.vs/hrms-be-backend/FileContentIndex/f225d35a-391d-425a-9871-0f2ccdd42db0.vsidx
/.vs/hrms-be-backend/v17/.futdcache.v2
/.vs/hrms-be-backend/v17/.suo
/.vs/hrms-be-backend/v17/.wsuo
/.vs/hrms-be-backend/v17/fileList.bin
/.vs/ProjectEvaluation/com.xpresspayments.hrmswebapi.metadata.v7.bin
/.vs/ProjectEvaluation/com.xpresspayments.hrmswebapi.projects.v7.bin
/.vs/ProjectEvaluation/hrms-be-backend.metadata.v7.bin
/.vs/ProjectEvaluation/hrms-be-backend.projects.v7.bin
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-api.dll
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-api.exe
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-api.pdb
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-business.dll
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-business.pdb
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-common.dll
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-common.pdb
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-data.dll
/hrms-be-backend-api/bin/Debug/net7.0/hrms-be-backend-data.pdb
/hrms-be-backend-api/obj/Debug/net7.0/ref/hrms-be-backend-api.dll
/hrms-be-backend-api/obj/Debug/net7.0/refint/hrms-be-backend-api.dll
/hrms-be-backend-api/obj/Debug/net7.0/apphost.exe
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.AssemblyInfo.cs
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.AssemblyInfoInputs.cache
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.assets.cache
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.csproj.AssemblyReference.cache
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.csproj.CoreCompileInputs.cache
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.csproj.FileListAbsolute.txt
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.dll
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.GeneratedMSBuildEditorConfig.editorconfig
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.genruntimeconfig.cache
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.pdb
/hrms-be-backend-api/obj/Debug/net7.0/hrms-be-backend-api.sourcelink.json
/hrms-be-backend-api/obj/hrms-be-backend-api.csproj.nuget.dgspec.json
/hrms-be-backend-api/obj/hrms-be-backend-api.csproj.nuget.g.props
/hrms-be-backend-api/obj/project.assets.json
/hrms-be-backend-api/obj/project.nuget.cache
/hrms-be-backend-business/obj/Debug/net7.0/refint/hrms-be-backend-business.dll
/hrms-be-backend-business/obj/Debug/net7.0/ref/hrms-be-backend-business.dll
/hrms-be-backend-business/obj/Debug/net7.0/hrms-be-backend-business.AssemblyInfoInputs.cache
/hrms-be-backend-business/obj/Debug/net7.0/hrms-be-backend-business.assets.cache
/hrms-be-backend-business/obj/Debug/net7.0/hrms-be-backend-business.csproj.AssemblyReference.cache
/hrms-be-backend-business/obj/Debug/net7.0/hrms-be-backend-business.csproj.CoreCompileInputs.cache
/hrms-be-backend-business/obj/Debug/net7.0/hrms-be-backend-business.csproj.FileListAbsolute.txt
/hrms-be-backend-business/obj/Debug/net7.0/hrms-be-backend-business.dll
/hrms-be-backend-business/obj/Debug/net7.0/hrms-be-backend-business.GeneratedMSBuildEditorConfig.editorconfig
/hrms-be-backend-business/obj/Debug/net7.0/hrms-be-backend-business.pdb
/hrms-be-backend-business/obj/Debug/net7.0/hrms-be-backend-business.sourcelink.json
/hrms-be-backend-business/obj/hrms-be-backend-business.csproj.nuget.dgspec.json
/hrms-be-backend-business/obj/hrms-be-backend-business.csproj.nuget.g.props
/hrms-be-backend-business/obj/project.assets.json
/hrms-be-backend-business/obj/project.nuget.cache
/hrms-be-backend-common/obj/Debug/net7.0/ref/hrms-be-backend-common.dll
/hrms-be-backend-common/obj/Debug/net7.0/refint/hrms-be-backend-common.dll
/hrms-be-backend-common/obj/Debug/net7.0/hrms-be-backend-common.AssemblyInfoInputs.cache
/hrms-be-backend-common/obj/Debug/net7.0/hrms-be-backend-common.assets.cache
/hrms-be-backend-common/obj/Debug/net7.0/hrms-be-backend-common.csproj.CoreCompileInputs.cache
/hrms-be-backend-common/obj/Debug/net7.0/hrms-be-backend-common.csproj.FileListAbsolute.txt
/hrms-be-backend-common/obj/Debug/net7.0/hrms-be-backend-common.dll
/hrms-be-backend-common/obj/Debug/net7.0/hrms-be-backend-common.GeneratedMSBuildEditorConfig.editorconfig
/hrms-be-backend-common/obj/Debug/net7.0/hrms-be-backend-common.pdb
/hrms-be-backend-common/obj/Debug/net7.0/hrms-be-backend-common.sourcelink.json
/hrms-be-backend-common/bin/Debug/net7.0/hrms-be-backend-common.dll
/hrms-be-backend-common/bin/Debug/net7.0/hrms-be-backend-common.pdb
/hrms-be-backend-business/bin/Debug/net7.0/hrms-be-backend-business.dll
/hrms-be-backend-business/bin/Debug/net7.0/hrms-be-backend-business.pdb
/hrms-be-backend-business/bin/Debug/net7.0/hrms-be-backend-common.dll
/hrms-be-backend-business/bin/Debug/net7.0/hrms-be-backend-common.pdb
/hrms-be-backend-business/bin/Debug/net7.0/hrms-be-backend-data.dll
/hrms-be-backend-business/bin/Debug/net7.0/hrms-be-backend-data.pdb
/hrms-be-backend-common/obj/hrms-be-backend-common.csproj.nuget.dgspec.json
/hrms-be-backend-common/obj/hrms-be-backend-common.csproj.nuget.g.props
/hrms-be-backend-common/obj/project.assets.json
/hrms-be-backend-common/obj/project.nuget.cache
/hrms-be-backend-data/bin/Debug/net7.0/hrms-be-backend-common.dll
/hrms-be-backend-data/bin/Debug/net7.0/hrms-be-backend-common.pdb
/hrms-be-backend-data/bin/Debug/net7.0/hrms-be-backend-data.dll
/hrms-be-backend-data/bin/Debug/net7.0/hrms-be-backend-data.pdb
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.AssemblyInfo.cs
/hrms-be-backend-data/obj/Debug/net7.0/refint/hrms-be-backend-data.dll
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.AssemblyInfoInputs.cache
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.assets.cache
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.csproj.AssemblyReference.cache
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.csproj.CoreCompileInputs.cache
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.csproj.FileListAbsolute.txt
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.dll
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.GeneratedMSBuildEditorConfig.editorconfig
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.pdb
/hrms-be-backend-data/obj/Debug/net7.0/hrms-be-backend-data.sourcelink.json
/hrms-be-backend-data/obj/Debug/net7.0/ref/hrms-be-backend-data.dll
/hrms-be-backend-data/obj/hrms-be-backend-data.csproj.nuget.dgspec.json
/hrms-be-backend-data/obj/hrms-be-backend-data.csproj.nuget.g.props
/.vs/hrms-be-backend/FileContentIndex/2253f3ba-d326-4aa2-9c72-26c43e7421b5.vsidx
/.vs/hrms-be-backend/FileContentIndex/91d55eb6-f66e-4038-8383-998b449f317a.vsidx
/hrms-be-backend-common/obj/Debug/net7.0/hrms-be-backend-common.AssemblyInfo.cs
/hrms-be-backend-business/obj/Debug/net7.0/hrms-be-backend-business.AssemblyInfo.cs
/.vs/hrms-be-backend/FileContentIndex/0bb778a2-acab-40f8-bbe6-4c2e47c22487.vsidx
/.vs/hrms-be-backend/FileContentIndex
/hrms-be-backend-api/bin/Debug/net7.0/appsettings.json
